@import "colors.scss";

.not-found-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  width: 100%;
  height: 100%;
  h1 {

  } 
  span {

  } 
}
